$primaryColor: #000000;

$secondaryColor: #ffffff;
$secondaryColorTint2: #8e8e98;
$secondaryColorTint3: #47474c;
$secondaryColorTint4: #1C1C1E;

$decorativeColorFirst: #ffd233;
$decorativeColorSecond: #25e197;
