@mixin roboto {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

@mixin text-format($weight: 400, $size: 16px, $line-height: 1, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin desktop {
	@media screen and (max-width: $desktop) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: $laptop) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: $phones) {
		@content;
	}
}

@mixin phones-small {
	@media screen and (max-width: $phones-small) {
		@content;
	}
}
